<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/styles.css"/>
        <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
        {% endblock head %}
</head>
{% set icon_links = [
    ('https://github.com/akail', 'github'),
    ('https://gitlab.com/akail', 'gitlab'),
    ('https://twitter.com/doubleakail', 'twitter'),
    ('https://plus.google.com/109540964882796106626', 'google-plus'),
    ('https://bitbucket.org/akail', 'bitbucket'),
    ('https://orcid.org/0000-0002-2243-2600', 'orcid'),
    ]
-%}

<body id="index" class="home">
    {% block styles %}
    {% endblock styles %}
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                {% for title, link in MENUITEMS %}
                    <li class="nav-item"><a class="nav-link" href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                  {% for p in pages %}
                  <li{% if p == page %} class="nav-item active"{% else %} class="nav-item"{% endif %}><a class="nav-link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                  {% endfor %}
                {% else %}
                  {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                    <li{% if cat == category %} class="nav-item active"{% else %} class="nav-item" {% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                    {% endfor %}
                  {% endif %}
                {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li>
                        {% for ihref, iname in icon_links %}
                        {% if iname == 'orcid' %}
                        <a href="{{ihref}}"><i class="ai ai-{{ iname }} ai-2x"></i></a>
                        {% else %}
                        <a href="{{ihref}}"><i class="fa fa-{{ iname }} fa-2x"></i></a>
                        {% endif %}
                        {% endfor %}
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
        <div class="col-9 col-md-offset-2">
        {% block content %}
        {% endblock %}
        </div>
        <div class="col-2">
            <div class="card card-default">
                <div class="card-body">
                    <h3 class="card-body" >Tags</h3>
                    {% for tag in tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}"><span class="badge badge-info">{{ tag[0] | escape }}</span></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </div>

        {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

         <script src="https://use.fontawesome.com/5ae78e6a14.js"></script>

        {% endblock scripts %}

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
        which takes great advantage of <a href="http://python.org">Python</a>.
        </p>
      </div>
    </footer>
</body>
</html>
